<!-- +JMJ -->
<%- include("header") -%>

    <h1>BMI Calculator</h1>
    <form action="/" method="post">
    <input type="text" name="weight" placeholder="Your weight in kilograms" class="input weight" autofocus>
    <input type="text" name="height" placeholder="Your height in metres" class="input height">
    <br>
    <button type="submit" name="submit" class="btn">Calculate BMI</button>
    </form>

 <%- include("footer") -%>