<%- include("header") -%>


<h2>You're bmi is: <%= yourBmi %>   </h2>
<h1 class="animation1"> You are underweight!! EAT MORE </h1>

<form action="/" >
    <button type="submit" name="submit" class="btn">Try Again</button>
    </form>


<%- include("footer") -%>    